body
{

align=center;
  margin: 90px;
  border: 3px solid black;


}
#sa
{
background-color: #e8d49b;
}
#ma
{
align:center;
margin: 70px;
border: 3px solid black;

}

h1
{
Font face=arial,helvetica;
text-align:center;
font-size: 20px;
}

p
{
/*text-align:right;*/
Font face=arial,helvetica;
 font-size: 15px;
padding-left: 450px;
}

table, tr, td
{

height: 70%;
width: 40%;
 text-align:right;
 border: 3px solid black;
 border-collapse: collapse;

 
}

tr, td {
  padding: 5px;
}

#done
{
  text-align:center; 
border: 3px solid black;
}
